.App {
  text-align: center;
  --danger-red: #fc0000;
  --red: #ff6240;
  --green: #71ff40;
}

.App {
  margin-top: 100px;
}

.HomePage {
  display: grid;

  grid-template-columns: auto 1000px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    '. greeting .'
    '. money .'
    '. lists .';
}

.greeting {
  grid-area: greeting;
  text-align: left;
  display: flex;

  justify-content: space-between;
}

.money {
  grid-area: money;
  padding: 50px;
}

.money span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--danger-red);
  font-size: 1.5em;
}

.lists {
  margin: 0;
  padding: 0;
  grid-area: lists;
  display: flex;
  justify-content: space-between;
}

.transactions,
.users {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-list,
.userlist {
  list-style-type: none;
  border: 1px solid black;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.transaction-list li,
.userlist li {
  padding: 0;
  margin: 5px;
}

.transaction-list li button,
.userlist li button {
  width: 275px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.transaction-list li {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.transaction-list .receivedMoney {
  background-color: var(--red);
  margin-right: auto;
}

.transaction-list .neutral {
  background-color: lightsalmon;
  margin-left: auto;
  margin-right: auto;
}

.transaction-list .sendMoney {
  background-color: var(--green);
  margin-left: auto;
}

.justify-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
